@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
:root{
    --headingFontFamily: "Domine", serif;
    --descFontFamily: "Roboto Mono", monospace;
}

*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  outline: none;
}
body{
  scroll-behavior: smooth;
  margin: 1rem;
  padding: 1rem;
  background-color: #000001;
  color: aliceblue;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: var(--headingFontFamily);
  padding: .4rem .6rem;
}

p ,li ,a ,td ,strong ,button{
  font-family: var(--descFontFamily);
  padding: .4rem .6rem;
  font-weight: 500;
  font-size: 1rem;
}

