

.logIn{
    padding: 1rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logIn form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.logIn form input{
    width: 25rem;
    height: 4rem;
    background:none;
    border: 1px solid aqua;
    font-size: 1rem;
    color: darkturquoise;
    padding: .5rem 1rem;
    font-family: "Roboto Mono", monospace;
}

.logIn form textarea{
    width: 25rem;
    height: 14rem;
    background:none;
    border: 1px solid aqua;
    font-size: 1rem;
    color: darkturquoise;
    padding: .5rem 1rem;
    font-family: "Roboto Mono", monospace;
    resize: none;
}

.logIn form button{
    width: 25rem;
    background:darkturquoise;
    border: 1px solid aqua;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    font-family: "Roboto Mono", monospace;
}.logIn form button:hover{
    background:none;
    color: darkturquoise;
}

@media screen and (max-width:450px) {
    .logIn form input{
        width: 20rem;
    }
    
    .logIn form textarea{
        width: 20rem;
    }
    
    .logIn form button{
        width: 20rem;
    }
}

